*{margin:0; box-sizing: border-box;}

body{
    background-color: purple;
}


.line{
    border:2px solid black;
}

.line__two{
    border: 20px solid gray;
}

.box{
    width: 100%;
}

.header__box{
    margin-left: 10px;
    margin-right: 20px;
    background-color: ghostwhite;
}

.text__center{
    text-align: center;
}

.main__box{
    width: 100%;
    display: flex;
    height: 500px;
}

.box__one{
    width: 33%;
    background-color: red;
}

.box__two{
    width: 33%;
    background-color: green;
    font-weight: bold;
}

.box__text{
    text-transform: uppercase;
}

.box__img{
    display: block;
    height: 150px;
    width: 250px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.box__three{
    width: 33%;
    background-color: blue;
}

.footer__box{
    background-color: white;
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: right;
}

.footer__text{
    display: flex;
    text-transform: uppercase;
    align-items: center;
    
}