/*////////////////////////////////////
============== RESET ================
///////////////////////////////////*/
ul{list-style: none; padding: 0;}

.menu{
    display: flex;
    
}

.menu__ul{
    display: flex;
    background-color: gray;
    cursor: pointer;
}

.menu__ul{
    color: white;
}

.menu__li{
    padding: 15px;
}

.menu__li:hover{
    background-color: greenyellow;
}

.menu__li:active{
    background-color: red;
}


.menu__enlace{
    outline: none;
    text-decoration: none;
    color: white;
}