input[type="text"]{
    display: block;
    width: 100%;
    border:1px solid blue;
    background-color: aqua;
    padding: 5px 0px;
    
}

input[type="password"]{
    display: block;
    width: 100%;
    border:1px solid greenyellow;
    background-color: rosybrown;
    padding: 6px 0px;
}

input[type="text"]:focus{
    background-color: #dadada;
}

input[type="password"]:focus{
    background-color: #dadada;
}
