fieldset {
    width: 30%;
}

.title::before{
    content:"";
    width: 100px;
    height: 100px;
    background-image: url(../img/tik.png);
    background-size: cover;
    display: inline-block;
}

.parrafouno::first-letter{
    font-size: 30px;
}

.parrafouno{
    color: red;
}